<md-toolbar class="toolbar">
  Silo-Ninja / Hybocracy
  <!-- <hybo-member></hybo-member> -->
  <span class="fill-remaining-space"></span>

  <form class="navbarForm" *ngIf="!loginStatus()">
    <md-input-container class="navbarInput">
      <input name="email" [(ngModel)]="user.email" mdInput placeholder="e-Mail">
    </md-input-container>
    <md-input-container class="navbarInput">
      <input name="password" [(ngModel)]="user.password" mdInput type="password" placeholder="password">
    </md-input-container>
    <button (click)="login()" md-button fxHide="false" fxHide.gt-sm>Login</button>
  </form>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <!--
    <button md-button routerLink="/products">Products</button>
    <button md-button routerLink="/dashboard">Dashboard</button>
    -->
  </div>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/settings">Settings</button>
    <button md-menu-item (click)="logout()">Logout</button>
    <!--<button md-menu-item>Help</button>-->
</md-menu>
