<h3>Register</h3>
<form>
<md-list flex>
	<div layout="row" layout-sm="column">
		<md-input-container>
		  	<input name="firstName" [(ngModel)]="user.firstName" mdInput placeholder="FirstName">
		</md-input-container>
	</div>
	<div layout="row" layout-sm="column">
		<md-input-container>
		  	<input name="lastName" [(ngModel)]="user.lastName" mdInput placeholder="LastName">
		</md-input-container>
	</div>
	<div layout="row" layout-sm="column">
		<md-input-container>
		  	<input name="email" [(ngModel)]="user.email" mdInput placeholder="E-Mail">
		</md-input-container>
	</div>
	<div layout="row" layout-sm="column">
		<md-input-container>
		  	<input name="password" [(ngModel)]="user.password" mdInput type="password" placeholder="Password">
		</md-input-container>
	</div>
	<div layout="row" layout-sm="column">
		<md-input-container>
		  	<input name="password" [(ngModel)]="user.passwordConfirm" mdInput type="password" placeholder="Confirm Password">
		</md-input-container>
	</div>
	<div layout="row" layout-sm="column">
		<button (click)="register()" md-button fxHide="false" fxHide.gt-sm>Register</button>
		<button (click)="cancel()" md-button fxHide="false" fxHide.gt-sm>Cancel</button>
	</div>
</md-list>
</form>
