
<h3>Collectives</h3>

<md-list flex>    
  <!--<md-subheader class="md-no-sticky">cols:</md-subheader> -->
  <md-list-item class="md-3-line" *ngFor="let coll of collectiveService.getCachedCollectives()">
    <div class="md-list-item-text" layout="column">
      - {{ coll.name }} - {{ coll.desc }} <button (click)="editCollective(coll)" md-mini-fab>Edit</button>
    </div>
  </md-list-item>
</md-list>   

<div>
  <form>
    <md-input-container  class="demo-full-width">
      <input name="firstName" [(ngModel)]="collective.name" mdInput placeholder="Collective Name">
    </md-input-container>
    <md-input-container  class="demo-full-width">
      <input name="firstName" [(ngModel)]="collective.desc" mdInput placeholder="Collective Description">
    </md-input-container>
    <button (click)="save()" md-raised-button>Save</button>
    <button (click)="cancel()" md-raised-button>Cancel</button>
  </form>
</div>
