
<h3>collectives</h3>
<ul>
  <li *ngFor="let coll of collectiveService.getCachedCollectives()">
    {{ coll.name }} - {{ coll.desc }} <button (click)="editCollective(coll)">Edit </button>
  </li>
</ul>
<div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="collective.name" placeholder="name">
  </div>
  <div>
    <label>desc: </label>
    <input [(ngModel)]="collective.desc" placeholder="desc">
  </div>
  <button (click)="save()">Save</button>
  <button (click)="cancel()">Cancel</button>
</div>